
# Ignore CSV datasets, except data_description.txt
data/*.csv
!data/data_description.txt

# Ignore all outputs except .keep if present
outputs/*
!outputs/.keep

# Python cache
__pycache__/
*.py[cod]

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Virtual environment folders
env/
venv/

# Model and vectorizer files
*.pkl
*.joblib

# Logs and runtime metadata
*.log

# Mac and Windows OS files
.DS_Store
Thumbs.db
